ConfigSpace>=0.4.17
pyyaml>=6.0.3
networkx>=3.6.1
numpy>=2.4.4
torch>=2.11.0
torchvision>=0.26.0
fvcore>=0.1.5.post20221221
pytest>=6.2.4
lightgbm>=4.6.0
ngboost>=0.5.10
xgboost>=3.2.0
emcee>=3.1.6
pybnn>=0.0.5
grakel>=0.1.10
pyro-ppl>=1.9.1
scipy>=1.17.1

tqdm>=4.67.3
scikit-learn>=1.8.0
scikit-image>=0.26.0
pytorch-msssim>=1.0.0
tensorwatch>=0.9.1

transforms3d>=0.4.2
gdown>=6.0.0
